<div class="row justify-content-center">
	<div class="col-md-6">
		{{#if success_msg}}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>{{success_msg}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{{/if}}
		{{#if error_msg}}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>{{error_msg}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{{/if}}
		{{#if error}}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>{{error}}</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{{/if}}
	</div>
</div>