<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    {{!-- Bootstrap --}}
    <script language="javascript" src="/jquery/jquery.min.js"></script>
    <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    {{!--  Vuejs --}}
    <script src="/vue/vue.js"></script>

    {{!-- Element.io --}}
    <link rel="stylesheet" href="element-ui/theme-chalk/index.css">
    <script src="/element-ui/index.js"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="/fontawesome-free-5.6.3-web/css/all.css">
    <link rel="stylesheet" href="/css/main.css">

	<script language="javascript" src="/js/game.js"></script>
	<script language="javascript" src="/js/script.js"></script>
</head>

<body>
    <div
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm top-nav">
        <h5 class="my-0 mr-md-auto font-weight-normal">Heraklion Tour Game</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2" href="/">Home</a>
            {{#if user}}
            <a class="p-2" href="/game">Game</a>
            <a class="btn btn-outline-primary" href="/users/logout">Logout</a>
            {{else}}
            <a class="btn btn-outline-primary" href="/users/login">Login</a>
            <a class="btn btn-outline-primary" href="/users/signup">Signup</a>
            {{/if}}
        </nav>
    </div>

    {{> flash-messages}}
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>