<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    {{!-- Bootstrap --}}
    <script language="javascript" src="/jquery/jquery.slim.min.js"></script>
    <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    <!--Fontawesome-->
    <link rel="stylesheet" href="/fontawesome-free-5.6.3-web/css/all.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm top-nav">
        <h5 class="my-0 mr-md-auto font-weight-normal">Heraklion Tour Game</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2" href="/">Home</a>
            <a class="p-2" href="/">About</a>
        </nav>
    </div>

    {{> flash-messages}}
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>