{{{{raw_helper}}}}
<div class="row justify-content-center" id="app">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <table class="table text-center" v-loading="loading">
                            <tbody>
                                <tr>
                                    <th scope="row" v-bind:class="[ (game.question_index == 0) ? 'active' : '', 'cell' ]">{{game.question_index != 0 ? 'Start' : '' }}</th>
                                    <td v-bind:class="[ (game.question_index == 1) ? 'active' : '', 'cell' ]">{{game.question_index != 1 ? '1' : '' }}</td>
                                    <td v-bind:class="[ (game.question_index == 2) ? 'active' : '', 'cell' ]">{{game.question_index != 2 ? '2' : '' }}</td>
                                    <td v-bind:class="[ (game.question_index == 3) ? 'active' : '', 'cell' ]">{{game.question_index != 3 ? '3' : '' }}</td>
                                    <td v-bind:class="[ (game.question_index == 4) ? 'active' : '', 'cell' ]">{{game.question_index != 4 ? '4' : '' }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" v-bind:class="[ (game.question_index == 5) ? 'active' : '', 'cell' ]">{{game.question_index != 5 ? '5' : '' }}</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td v-bind:class="[ (game.question_index == 6) ? 'active' : '', 'cell' ]">{{game.question_index != 6 ? '6' : '' }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" v-bind:class="[ (game.question_index == 7) ? 'active' : '', 'cell' ]">{{game.question_index != 7 ? '7' : '' }}</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td v-bind:class="[ (game.question_index == 8) ? 'active' : '', 'cell' ]">{{game.question_index != 8 ? '8' : '' }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" v-bind:class="[ (game.question_index == 9) ? 'active' : '', 'cell' ]">{{game.question_index != 9 ? '9' : '' }}</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td v-bind:class="[ (game.question_index == 10) ? 'active' : '', 'cell' ]">{{game.question_index != 10 ? '10' : '' }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" v-bind:class="[ (game.question_index == 11) ? 'active' : '', 'cell' ]">{{game.question_index != 11 ? '11' : '' }}</th>
                                    <td v-bind:class="[ (game.question_index == 12) ? 'active' : '', 'cell' ]">{{game.question_index != 12 ? '12' : '' }}</td>
                                    <td v-bind:class="[ (game.question_index == 13) ? 'active' : '', 'cell' ]">{{game.question_index != 13 ? '13' : '' }}</td>
                                    <td v-bind:class="[ (game.question_index == 14) ? 'active' : '', 'cell' ]">{{game.question_index != 14 ? '14' : '' }}</td>
                                    <td v-bind:class="[ (game.question_index == 15) ? 'active' : '', 'cell' ]">{{game.question_index != 14 ? 'Finish' : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

			<hr>

			<div class="row text-center mt-3" v-if="game">
				<div class="col-sm-12" v-if="game.question">
					<h3>{{ game.question.text }}</h3>
				</div>
				<div class="col-sm-12" v-if="game && game.question && game.question.answers">
					<div class="row">
						<el-form class="col-sm-12" ref="form" :model="form">
							<el-form-item>
								<el-radio-group v-model="form.answer_id">
									<div class="col-sm-3" v-for="(answer, answerIndex) of game.question.answers">
										<el-radio :label="answer.id" :key="answer.id">{{answer.text}}</el-radio>
									</div>
								</el-radio-group>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" @click="onSubmit">Submit</el-button>
								<el-button>Cancel</el-button>
							</el-form-item>
						</el-form>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{{{{/raw_helper}}}}

<script>
    Vue.config.devtools = true;

    var gameApp = new Vue({
        el: '#app',
        data: {
            loading: false,
			game: null,
			form: {
				answer_id: null,
			}
        },
        methods: {
			startGame: function() {
				var self = this;

				self.loading = true;
				$.ajax({
					url: '/game/start-game',
					type: 'GET',
					success: function (response) {
						if (response.result == true) {
							self.game = new Game();
							self.game.id = response.game.id;
							self.game.question_index = response.game.question_index;
							self.game.question = response.question;
						}

						self.loading = false;
					},
				});
			},
			onSubmit: function() {
				var self = this;

				self.loading = true;

				$.ajax({
					url: '/game/answer',
					type: 'POST',
					data: {
						game_id: self.game.id,
						question_id: self.game.question.id,
						answer_id: self.form.answer_id,
					},
					success: function (response) {
						if (response.result == true) {
							self.game = new Game();
							self.game.id = response.game.id;
							self.game.question_index = response.game.question_index;
							self.game.question = response.question;
						}

						self.loading = false;
					},
				});
			}
        },
		mounted: function () {
			var app = this;

			app.startGame();
		}
    });
</script>