html,
body {
    background-image: url('/images/heraklion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    align-content: center;
}

.alert {
    width: 100%;
}

.d-flex {
    background-color: transparent !important;
}

.top-nav h5,
.top-nav a {
    color: white;
    border-color: white;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgb(254, 193, 27);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #fec11b;
    border-color: #fec11b;
}

.btn-outline-primary:hover {
    background-color: #fec11b;
    border-color: #fec11b;
}

.shadow-sm {
    box-shadow: 0 .025rem .5rem rgb(254, 196, 25) !important;
}

.header h1 {
    color: #fec11b
}

.header p {
    color: white
}

.text-muted {
    color: #d5d1d1 !important;
}

.table td, .table th {
    border-top: none;
}

.table .cell {
	border:1px solid #dee2e6;
	background-color: antiquewhite;
	height: 50px;
}

table .active {
	color: red;
	background-image: url('/images/pawn.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white!important;
}