<div class="d-flex justify-content-center mt-5" id="login-content-flex-box">
	<div class="card">
		<div class="card-header">
			<h3>Sign In</h3>
			<div class="d-flex justify-content-end social_icon">
				<span><i class="fab fa-facebook-square"></i></span>
				<span><i class="fab fa-google-plus-square"></i></span>
				<span><i class="fab fa-twitter-square"></i></span>
			</div>
		</div>
		<div class="card-body">
			<form method="POST" action="/users/login">
				<div class="form-group {{#if errors.email.msg}} has-error {{/if}}">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control"  placeholder="email" name="email" value="{{body.email}}">
					</div>
					{{#if "errors && errors.email && errors.email.msg" }}
						<span class="help-block" id="error">{{errors.email.msg}}</span>
					{{/if}}
				</div>
				<div class="form-group {{#if errors.email.msg}} has-error {{/if}}">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password">
					</div>
					{{#if "errors && errors.password && errors.password.msg" }}
						<span class="help-block" id="error">{{errors.password.msg}}</span>
					{{/if}}
				</div>
				<div class="form-group">
					<input type="submit" value="Login" class="btn float-right login_btn">
				</div>
			</form>
		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-center links">
				Don't have an account?<a href="/users/signup">Sign Up</a>
			</div>
			<div class="d-flex justify-content-center">
				<a href="#">Forgot your password?</a>
			</div>
		</div>
	</div>
</div>
