<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card">
			<header class="card-header">
				<a href="/users/login" class="float-right btn login_btn mt-1">Log in</a>
				<h4 class="card-title mt-2">Sign up</h4>
			</header>
			<article class="card-body">
				<form method="POST">
					<div class="form-row">
						<div class="col form-group {{#if errors.firstname.msg}} has-error {{/if}}">
							<label>First name </label>
							<input type="text" class="form-control" name="firstname" placeholder="" value="{{body.firstname}}">
							{{#if "errors && errors.firstname && errors.firstname.msg" }}
								<span class="help-block" id="error">{{errors.firstname.msg}}</span>
							{{/if}}
						</div> <!-- form-group end.// -->
						<div class="col form-group {{#if errors.lastname.msg}} has-error {{/if}}">
							<label>Last name</label>
							<input type="text" class="form-control" name="lastname" placeholder="" value="{{body.lastname}}">
							{{#if "errors && errors.lastname && errors.lastname.msg" }}
								<span class="help-block" id="error">{{errors.lastname.msg}}</span>
							{{/if}}
						</div> <!-- form-group end.// -->
					</div> <!-- form-row end.// -->
					<div class="form-group {{#if errors.email.msg}} has-error {{/if}}">
						<label>Email address</label>
						<input type="email" class="form-control" name="email" placeholder="" value="{{body.email}}">
						<small class="form-text text-muted">We'll never share your email with anyone else.</small>
						{{#if "errors && errors.email && errors.email.msg" }}
							<span class="help-block" id="error">{{errors.email.msg}}</span>
						{{/if}}
					</div> <!-- form-group end.// -->
					<div class="form-group {{#if errors.gender.msg}} has-error {{/if}}">
						<label>Gender</label>
							<div>
								<label class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender" value="male" checked="{{#if body.male}} 'checked' {{/if}}" >
									<span class="form-check-label"> Male </span>
								</label>
								<label class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender" value="female" checked="{{#if body.female}} 'checked' {{/if}}">
									<span class="form-check-label"> Female</span>
								</label>
							</div>
						{{#if "errors && errors.gender && errors.gender.msg" }}
							<span class="help-block" id="error">{{errors.gender.msg}}</span>
						{{/if}}
					</div> <!-- form-group end.// -->
					<div class="form-group {{#if errors.password.msg}} has-error {{/if}}"  >
						<label class="label">Create password</label>
						<input class="form-control" name="password" type="password">
						{{#if "errors && errors.password && errors.password.msg" }}
							<span class="help-block" id="error">{{errors.password.msg}}</span>
						{{/if}}
					</div> <!-- form-group end.// -->
					<div class="form-group {{#if errors.confirm_password.msg}} has-error {{/if}}">
						<label>Confirm password</label>
						<input class="form-control" name="confirm_password" type="password">
						{{#if "errors && errors.confirm_password && errors.confirm_password.msg" }}
							<span class="help-block" id="error">{{errors.confirm_password.msg}}</span>
						{{/if}}
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-block register_btn">Register</button>
					</div> <!-- form-group// -->
				</form>
			</article> <!-- card-body end .// -->
			<div class="border-top card-body text-center">Have an account? <a href="/users/login">Log In</a></div>
		</div> <!-- card.// -->
	</div> <!-- col.//-->

</div>